/**
 * Global Styles (Body, Buttons, Reusable PHP Blocks)
 *
 * @package Postali Child
 * @author Postali LLC
*/

* {
    margin:0;
}

html, body {
	font-size: 18px;
	line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: bold;
}

.body-container {
    margin-top: 135px;

    p,
    ul li {
        a {
            color: $blk;
            font-family: inherit;
            text-decoration: underline;
            font-weight: 900;

            &:hover {
                color:$dk-tan;
            }
        }
    }

    ul {
        padding: 0 15px;
        margin-bottom: 30px;
        
        li {
            font-size:18px;
            line-height: 170%;
            margin:0 0 10px;
            color:$emerald;
            font-family: $serif;
            
            &::marker {
                color: $dk-tan;
            }
        }
    }
}

.container {
    max-width: $desktop-lg;
    padding: 0 60px;
	z-index: 1;
	position: relative;

	@include respond(desktop-lg) {
		padding:0 50px !important;
	}

    @include respond(phone) {
        padding: 0 9% !important;
    }

	&.wide {
		max-width: 92%;
		margin:0 auto;
	}
}

section {
    padding: 0;
    background:$white;
    
    &.padded {
        padding:80px 0;

        @include respond(phone) {
            padding:40px 0;
        }
    }

    &.dk-tan {
        background:$dk-tan;
    }

    &.tan {
        background:$tan;
    }

    &.lt-tan {
        background:$lt-tan;
    }

    &.emerald {
        background:$emerald;

        @include reversed-fonts;

        &.texture {
            background-image: url('/wp-content/uploads/2023/04/bg-texture-tile.jpg');
            background-size: auto;
            background-position: center !important;
            background-repeat: repeat;
            background-attachment: fixed;
            padding-top: 80px;
        }
    }

    &.banner {
        .column-60 {
            width:55%;
        }

        .column-40 {
            width:45%;
        }
    }

    @include respond(phone) {
        padding: 0;
    }
}

// columns and spacers //

.columns {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	align-items: normal !important;
	box-sizing: border-box;
	align-items: flex-start;
    margin:0;

    &.top {
        align-items: flex-start !important;
    }

    &.padding-vert {
        padding:15px 0;
    }

	.column-20,
    .column-25,
    .column-50,
    .column-75,
    .column-full,
    .column-33,
    .column-40,
    .column-60,
    .column-66,
    .left,
    .right {
        display:flex;
		position: relative;
		box-sizing: border-box;
		justify-content: flex-start;
		align-items: normal;
		flex-wrap: wrap;

        &.block {
            display:block;
        }

        &.white {
            background:$white;
        }

        &.burgundy-gradient {
            @include burgundy-gradient;

            p {
                color:$dk-tan;

                &.small {
                    a {
                        color:$white;
                    }
                }
            }

            h2 {
                color:$white;
            }
        }

        &.lt-tan {
            background:$lt-tan;
        }

        &.sage {
            background:$sage;
            @include reversed-fonts;
        }

        &.nomargin {
            margin:0;
        }

        &.pad-sm {
            padding: 4%;

            @include respond(tab-port) {
                padding:6% !important;
            }

            @include respond(phone) {
                padding:60px 9% !important;
            }
        }

        &.pad-lg {
            padding:5% 8%;
            
            @include respond(tab-port) {
                padding:6% !important;
            }

            @include respond(phone) {
                padding:60px 9% !important;
            }
        }

        &.pad-vert {
            padding:4% 0;
        }

        .block-top {
            align-self: flex-start;
        }

        &.photo {
            picture {
                width:100%;
                
                img {
                    -o-object-fit: cover;
                       object-fit: cover;
                    -o-object-position: center;
                       object-position: center;
                    width:100%;
                    height:100%;
                }
            }
        }
	}

    a.column-33.sage {
        position: relative;
        z-index: 0;
        
        &::after {
            position: absolute;
            height: 100%;
            width: 100%;
            content: "";
            top: 0;
            left: 0;
            z-index: -1;
            background-image: url('/wp-content/uploads/2023/04/bg-tan-texture.jpg');
            background-size: cover;
            opacity:0;
            transition: $trans;
        }

        &:hover {
            &::after {
                opacity:1;
            }

            .tan {
                color:$text-color !important;
            }

            h3 {
                span {
                    background-image: linear-gradient(transparent calc(100% - 2px), $text-color 2px !important);
                }
            }

            .learn-more {
                p {
                    color:$text-color;
                }

                &::after {
                    background:$text-color;
                }
            }
        }
    }

	.column-break {
		width:100%;
		height:1px;
	}

	.column-20 {
		width:calc(20% - 10px);

        &.nomargin {
            width:20%;
        }
    }

    .column-25 {
		width:calc(25% - 10px);

        &.nomargin {
            width:25%;
        }
    }

    .column-50 {
		width:calc(50% - 10px);

        &.nomargin {
            width:50%;
        }
    }

    .column-33 {
		width:calc(33.33% - 10px);

        &.nomargin {
            width:33.33%;
        }
    }

    .column-40 {
		width:calc(38% - 10px);

        &.nomargin {
            width:38%;
        }
    }

    .column-60 {
		width:calc(62% - 10px);

        &.nomargin {
            width:62%;
        }
    }

    .column-66 {
		width:calc(66.66% - 10px);

        &.nomargin {
            width:66.66%;
        }
    }

    .column-75 {
		width:calc(75% - 10px);

        &.nomargin {
            width:75%;
        }
    }

    .column-full {
		width:100%;
		justify-content: space-between;
	}

	.column-25,
    .column-50,
    .column-75,
    .column-full,
    .column-33,
    .column-40,
    .column-60,
    .column-66,
    .left,
    .right {
		@include respond(tab-port) {
			width:100% !important;
		}
		&.center {
			margin:0 auto;
		}

        &.centered {
            text-align: center;
            justify-content: center;
        }

        &.vert-center {
            align-content: center;
        }

        &.vert-top {
            align-content: flex-start;
        }

        img {
            -o-object-fit: cover;
               object-fit: cover;
        }
	}

    // header & main-content 
    .left {
        width:55%;
    }
    .right {
        width:40%;

        @include respond(tab-port) {
            margin-top: 50px;
        }
    }
}

// spacing elements //

.spacer-break,
.spacer-15,
.spacer-30,
.spacer-60,
.spacer-90,
.spacer-line {
    display:block;
	width:100%;
}

.spacer-line {
    height:1px;
    margin: 50px 0 20px 0;
    border-bottom: 1px solid $dk-tan;
}
.spacer-break { height:1px; }
.spacer-15 { height:15px; }
.spacer-30 { height:30px; }
.spacer-60 { height:60px; }
.spacer-90 { 
    height:90px; 

    &.mobile {
        @include respond(phone) {
            height:30px;
        }
    }
}

// accordion styles //

.accordions {
    width:100%;
    position: relative;
    border-bottom: 1px solid #cccdc9;
    
    &_title {
        display: flex;
        cursor: pointer;
        padding: 15px 0;
        transition: 0.3s linear;
        text-align: left;
        align-items: center;
        line-height: 100%;
        position: relative;

        h3 {
            font-size:24px;
            font-weight:700;
            color:$emerald;
            transition:$trans;
            margin-bottom:0 !important;
            margin-top:0;
			font-family: $serif;
            max-width: 90%;
        }

        span {
            align-self:center;
            justify-self:end;
            display: block;

            &:after {
                content: "+";
                display: inline-block;
                transition:$trans;
                font-size:16px;
                position: absolute;
                color:$emerald;
                font-size:24px;
                top:20px;
                right:0;
                font-weight: lighter;
            }
        }
        
        &.active {
            h3 {
                font-weight: bold;
            }

            span {
                &:after {
                    transform: rotate(-45deg);
                }
            }

            h3 {
                font-weight: 900 !important;
            }
        }
    }

    &_content {
        display: none;
		padding: 10px 0 30px;
		text-align: left;
        font-family: $serif;
        width:90%;
        line-height: 170%;

		.headline {
			color: $white;
			font-size: 32px;
			margin-bottom: 20px;
			display: block;
			font-family:$sans;
			font-weight: 700;
		}

        p {
            color:$white;
        }

        ul {
            color:$white;
            margin: 0;

            li {
                margin:0;
            }
        }
    }
}

// Drop Downs
#app-cover {
	@include drop-down-select;
}

// slider arrows 
.prev,
.next {
	cursor: pointer;
}

.testimonial-slider {
	display: grid !important;
                
    .slick-track {
        display: flex;
        height:100%;
        
        .slide {
            p {
                margin-bottom: 0 !important;

                &.xsmall {
                    max-width: 75%;
                }
            }
        }
    }
}

.nav-dots {
    .slick-dots {
        position: relative;
        bottom: 0;
        list-style: none;
        display: block;
        text-align: left;
        padding: 0 !important;
        margin: 0;
        width: 100%;

        li {
            margin:0;
            
            button::before {
                font-family: "slick";
                font-size: 12px;
            }
        }
    }

    &_1,
    &_2 {
        @extend .nav-dots;

        position: absolute;
        bottom: 25px;
        z-index: 5;
        left: 50%;
        transform: translateX(-50%);
    }
}

.pagination {
    padding-top: 0;

    .nav-links {
        display:flex;
        align-items: center;

        a {
            font-size: 20px;
            color:#8a8b90;

            &.prev,
            &.next {
                font-size: 0px;
                position: relative;
                width:30px;
                display:inline-block;
                background:none !important;

                &:hover {
                    &::before {
                        background:$white;
                        color:$blk;
                    }
                }

                &::before {
                    height:30px;
                    width:30px;
                    border-radius: 50px;
                    background:none;
                    position:absolute;
                    content:"";
                    font-family: $icomoon;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    color:$white;
                    font-size: 14px;
                    transition: $trans;
                    background:$sage;
                }
            }

            &.prev {
                &::before {
                    content:"\e903";
                }
            }

            &.next {
                &::before {
                    content:"\e901";
                }
            }
        }

        .page-numbers {
            height:30px;
            width:30px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            font-size: 16px;
            color:$emerald;
            font-family: $sans;
            font-weight: normal;
            background:none;
            border-radius: 50px;
            
            &.current {
                font-weight: bold;
                color: $blk;
                background:none;
            }
        }
    }
}

// recaptcha badge

.grecaptcha-badge {
    display: none !important;
}